<ion-view cache-view="false" view-title="{{'Login.view.Login' | translate}}"> 
  <ion-content> 
    <div class="bar bar-header bar-stable" data-container="true"> 
      <h1 class="title">{{'Login.view.Login' | translate}}</h1> 
    </div> 
    <div class="list" data-container="true" style="padding-top: 60px;"> 
      <div class="col text-center"> 
        <img src="img/logo.png"> 
      </div> 
    </div>
    <button class="button button-dark component-holder button-full" type="submit" ng-click="blockly.js.blockly.BlocoModal.Executar()" data-component="crn-button" id="crn-button-768738" xattr-size="" xattr-fullsize="button-full"><i class="ion ion-home"></i> <span>Novo Cadastro</span></button> 
    <form class="form-validation" autocomplete="off" name="form" ng-submit="login()" role="form"> 
      <div class="list list-inset" data-container="true"> 
        <label class="item item-input"> <i class="icon ion-person placeholder-icon"></i> <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="{{'Login.view.Username' | translate}}"> </label> 
        <label class="item item-input"> <i class="icon ion-asterisk placeholder-icon"></i> <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="{{'Login.view.Password' | translate}}"> </label> 
        <label class="item"> <button type="submit" class="button button-block button-positive" ng-disabled="form.$invalid || vm.dataLoading">{{"Login.view.Login" | translate}}</button> </label> 
        <label class="item"> 
          <div ng-show="message.error" class="help-block">
             {{message.error}} 
          </div> </label> 
        <label class="item"> 
          <div class="row"> 
            <div class="col col-offset-10"> 
              <a href="http://facebook.com" target="_self"><i class="ion-social-facebook"></i></a> 
            </div> 
            <div class="col col-offset-10"> 
              <a href="http://google.com" target="_self"><i class="ion-social-googleplus"></i></a> 
            </div> 
            <div class="col col-offset-10"> 
              <a href="http://facebook.com" target="_self"><i class="ion-social-github"></i></a> 
            </div> 
            <div class="col col-offset-10"> 
              <a href="http://facebook.com" target="_self"><i class="ion-social-linkedin"></i></a> 
            </div> 
            <div class="col col-offset-10"> 
              <a href="https://login.cronapp.io/login" target="_self"><i class="ion-android-cloud"></i></a> 
            </div> 
          </div> </label> 
      </div> 
    </form> 
    <div class="modal fade" id="modal64063"> 
      <div class="modal-dialog"> 
        <div class="modal-content genClass4841"> 
          <div class="component-holder modal-header"> 
            <div class="list-group list-group-sm row"> 
              <div data-container="true" data-replace="true">
                 Tela de Cadastro! Bem Vindo! 
              </div> 
            </div> 
          </div> 
          <div class="modal-body"> 
            <div class="list-group list-group-sm row"> 
              <div data-container="true" data-replace="true"></div> 
              <div data-replace="true" data-component="crn-container" class="component-holder" id="crn-container-649599">
                 &nbsp; 
              </div> 
              <p xattr-position="text-left" class="component-holder text-left" data-component="crn-paragraph" id="crn-paragraph-306267">Usuário</p> 
              <br> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-942437"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input9085" mask=""></label> 
              <br> 
              <label class="item item-input component-holder" data-component="crn-input" id="crn-input-1006017"><input id="textinput-id" type="text" placeholder="Placeholder text" ng-model="vars.input2241" mask=""></label> 
            </div> 
          </div> 
          <div class="modal-footer"> 
            <div class="list-group list-group-sm row"> 
              <div data-container="true" data-replace="true"></div> 
              <button class="button button-dark component-holder" type="submit" ng-click="blockly.js.blockly.BlocoModal.Executar2()" data-component="crn-button" id="crn-button-267521"><i class="ion ion-home"></i> <span>Cadastrar</span></button> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
    <div class="modal fade" id="modal19687"> 
      <div class="modal-dialog"> 
        <div class="modal-content genClass7421"> 
          <div class="component-holder modal-header"> 
            <div class="list-group list-group-sm row"> 
              <div data-container="true" data-replace="true">
                 Aceitação de Cadastro. 
              </div> 
            </div> 
          </div> 
          <div class="modal-body"> 
            <div class="list-group list-group-sm row"> 
              <div data-container="true" data-replace="true">
                 Texto de aceitação para cadastro. 
              </div> 
            </div> 
          </div> 
          <div class="modal-footer"> 
            <div class="list-group list-group-sm row"> 
              <div data-container="true" data-replace="true" class="col-xs-12"></div> 
              <button class="button button-dark component-holder col-xs-12" type="submit" ng-click="blockly.js.blockly.BlocoModal.Executar3()" data-component="crn-button" id="crn-button-547832"><i class="ion ion-home"></i> <span>Finalizar</span></button> 
              <div class="component-holder ng-binding ng-scope col-xs-1" data-component="crn-checkbox" id="crn-checkbox-859382" style="width: 164px; height: 53px;"> 
                <ul class="list checkbox-group"> 
                  <li class="item item-checkbox "><label class="checkbox"><input type="checkbox" checked></label>Termo de Aceitação</li> 
                </ul> 
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>